---
import Contactform from "@/components/contactform.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import NewLayout from "@/layouts/NewLayout.astro";
import { Icon } from "astro-icon/components";
---

<NewLayout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact Us</Fragment>
      <Fragment slot="desc">Have questions? We’re here to help—reach out today!</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact fast-fwd</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Have questions or ready to take the next step in modernizing your legacy systems? </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">Our team at fast-fwd.ai is here to help. Reach out today, and let’s start crafting your tailored modernization plan. We’re excited to collaborate and bring your vision to life.</p>
        <div class="mt-5">
          <!-- div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>1734 Sanfransico, CA 93063</span>
          </div--><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:hello@fast-fwd.ai"
              >hello@fast-fwd.ai</a
            >
          </div><!-- div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+1 (987) 4587 899">+1 (987) 4587 899</a
            >
          </div-->
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</NewLayout>
