---
import Link from "./ui/link.astro";
---

<div class="bg-black px-10 pt-5 pb-5 w-full m-0">
  <h1 class="text-white text-3xl lg:text-5xl xl:text-5xl pb-1 xl:tracking-tighter">
     Kickstart your Modernization
  </h1>
  <p class="pt-5 text-white text-lg text-slate-600">
Get a detailed roadmap to modernize your legacy applications—complete with strategy, estimation, and actionable insights. For a limited time, book a discounted discovery session and unlock a clear path to efficiency and innovation. Don’t miss out—take the first step toward a future-proofed business today! </p>
  <div class="flex pt-10 place-items-center justify-center">
    <Link href="#" style="inverted" href="/contact">Contact Us</Link>
  </div>
</div>
