---
interface Props {
  href: string;
  style?: "inverted" | "primary" | "secondary";
}

const {
  href,
  block,
  style = "inverted",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "px-5 py-2.5",
  md: "px-4 py-2",
};

const classes = {
  primary: "cta-btn-primary",
  secondary: "cta-btn-secondary",
  inverted: "cta-btn-inverted",
};
---

<a
  href={href}
  {...rest}
  class={classes[style]}
  ><slot />
</a>
